body {
  background: url('/img/background.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  img {
    height:10vh;
    .header {
      font-size: 3em;
      color: purple;
      padding-bottom: 3%;
    }
  }
}

#no-results {
  display: none;
  color: maroon;
}

#results {
  display: none;
}
